/*
Black:#131313;
Dark Gray:#272424;
Gray:#575050;
White:#ddd9d9;
More_White:#e7e7e7;
Red:#a92a2a;
Orange:#f7a73b;
*/
/* Extra Large ------------------------------------------------------------------*/
@media only screen and (min-width: 1201px) {
	.iframes{
		width:80%;
		height:87%;
	}
}
/* Extra Large ------------------------------------------------------------------*/
/* Large ----------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	.iframes{
		width:80%;
		height:87%;
	}
}
/* Large ----------------------------------------------------------------------- */
/* Medium ---------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	.iframes{
		width:80%;
		height:75%;
	}
}
/* Medium ---------------------------------------------------------------------- */
/* Small _---------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	.iframes{
		width:80%;
		height:56%;
	}
}
/* Small ----------------------------------------------------------------------- */
/* Extra Small _---------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
	.iframes{
		width:98%;
		height:33%;
	}
}
/* Extra Small ----------------------------------------------------------------- */