.containerHome {
  padding: 0 50px;
}
/* .img-fluid img {
  width: 100%;

  object-fit: cover;
 
  object-position: center;
} */

.generalInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  gap: 20px;
  max-width: 100%;
}

.titleInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #115a69;
}
.titleInfo h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.Information p {
  font-weight: 800;
  color: #115a69;
  font-family: "Raleway", sans-serif;
}

.topics img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Information {
  border: solid 2px #115a69;
  height: 600px;
  padding: 30px;
}
.InformationContent {
  height: 500px;
  overflow: auto;
}

/* Estilos para la barra de desplazamiento */
.InformationContent::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.buttonInformation {
  margin: 0;
  padding-left: 30px;
  display: flex;
  border: 0;

  background-color: transparent;
  cursor: pointer;
}

.buttonInformation img {
  width: 50px;
  height: 50px;
}

.moreInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #115a69;
  padding: 20px 0;
}
.moreInfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
  width: 32%;
  height: 100%;
}
.moreInfoCardImg img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreInfoCard h1 {
  text-align: center !important;
  color: #0091ae;
  margin: 0;
}
.moreInfoCard p {
  text-align: center !important;
  color: #0091ae;
  margin: 0;
}

.verticalSpa {
  border-left: 4px solid #e9761d;
  height: 300px;
}

.containerPostEmp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.itemPost {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background-color: #0091ae;
  color: #fff;
  border-radius: 15px 15px 0 15px;
}

.itemEmp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background-color: #e9761d;
  color: #fff;
  border-radius: 15px 15px 15px 0;
}

.versions img {
  width: 100%;
  height: 100%;
}
.versionsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -80px;
  height: 80px;
}
.versionsLinks a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
