@media only screen and (max-width: 1395px) {
  .navbar-nav a {
    font-size: 0.87rem;
  }
}

@media only screen and (max-width: 1308px) {
  .navbar-nav a {
    font-size: 0.57rem;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-default {
    display: none;
  }
  .navbar {
    display: flex !important;
  }
  .generalInfo {
    grid-template-columns: repeat(1, 1fr);
  }
  .Information {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .footer {
    flex-direction: column;
  }
  #iue {
    height: 100px !important;
  }
  #javeriana {
    height: 100px !important ;
  }
  #colne {
    height: 100px !important;
  }
  #univalle {
    height: 100px !important;
  }
  #ufrgs {
    height: 100px !important;
  }
  #ufsj {
    height: 100px !important;
  }
  #support {
    height: 100px !important;
  }

  #topic-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-gap: 0px !important;
    margin: 0px !important;
    margin-bottom: 50px !important;
    padding: 0px !important;
  }
}
@media only screen and (max-width: 620px) {
  .submissions {
    flex-direction: column !important;
    gap: 20px !important;
  }
}
@media only screen and (max-width: 560px) {
}
@media only screen and (max-width: 520px) {
  #posterImg {
    width: 446px;
    height: 448px;
  }
}

@media only screen and (max-width: 490px) {
  #textoPrincipalCabecalho h6 {
    font-size: 0.89em !important;
  }

  #imgIbro {
    width: 150px !important;
    height: 100px !important;
  }

  #brasaoUfma {
    width: 110px !important;
    height: 110px !important;
  }

  .footer {
    gap: 10px !important;
  }

  #iue {
    height: 50px !important;
  }
  #javeriana {
    height: 50px !important ;
  }
  #colne {
    height: 50px !important;
  }
  #univalle {
    height: 50px !important;
  }
  #ufrgs {
    height: 50px !important;
  }
  #ufsj {
    height: 50px !important;
  }
  #support {
    height: 50px !important;
  }
}

@media only screen and (max-width: 470px) {
  #textoPrincipalCabecalho h6 {
    font-size: 0.85em !important;
  }

  .div-imagem img {
    height: 150px !important;
  }

  #imgIbro {
    width: 150px !important;
    height: 100px !important;
  }

  #brasaoUfma {
    width: 110px !important;
    height: 110px !important;
  }
}

@media only screen and (max-width: 450px) {
  #textoPrincipalCabecalho h6 {
    font-size: 0.89em !important;
    font-weight: 900 !important;
  }
  #textoPrincipalCabecalho #sigla {
    display: none;
  }

  .div-imagem img {
    height: 120px !important;
  }

  footer {
    margin-bottom: 0px;
  }

  #imgIbro {
    width: 150px !important;
    height: 100px !important;
  }

  #brasaoUfma {
    width: 110px !important;
    height: 110px !important;
  }
}

@media only screen and (max-width: 435px) {
  #textoPrincipalCabecalho h6 {
    font-size: 0.89em !important;
    font-weight: 900 !important;
  }
  #textoPrincipalCabecalho #sigla {
    display: none;
  }
  #textoPrincipalCabecalho h6 {
    align-items: left !important;
    margin-left: 60px;
    text-align: left;
  }

  #imgIbro {
    width: 150px !important;
    height: 100px !important;
  }

  #brasaoUfma {
    width: 110px !important;
    height: 110px !important;
  }
}

@media only screen and (max-width: 375px) {
  #textoPrincipalCabecalho h6 {
    font-size: 0.79em !important;
    font-weight: 900 !important;
  }
  #textoPrincipalCabecalho #sigla {
    display: none;
  }
  #textoPrincipalCabecalho h6 {
    align-items: left !important;
    margin-left: 0px;
    text-align: left;
  }
  #textoPrincipalCabecalho {
    width: 90% !important;
  }

  #imgIbro {
    width: 150px !important;
    height: 100px !important;
  }

  #brasaoUfma {
    width: 110px !important;
    height: 110px !important;
  }

  #springerImg {
    width: 300px !important;
    height: 82px !important;
  }
  #ccisImg {
    width: 180px !important;
    height: 151px !important;
  }

  #iue {
    height: 40px !important;
  }
  #javeriana {
    height: 40px !important ;
  }
  #colne {
    height: 40px !important;
  }
  #univalle {
    height: 40px !important;
  }
  #ufrgs {
    height: 40px !important;
  }
  #ufsj {
    height: 40px !important;
  }
  #support {
    height: 40px !important;
  }
}
